#main{
	background-image: url(../images/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 40px;
	position: relative;	
}
#main .opacity{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(1,1,1,0.6);
}

#main .main-text{
	font-family: 'Petit Formal Script', cursive;
	position: relative;
	width: 70%;
	margin: 20% auto;
	text-align: center;
	color: #fff;
	line-height: 1.7;
	font-size: 24px;
	z-index: 3;
}
#main .main-text h1{
	margin: 0;
	font-size: 100px;
}



#services{
	font-family: 'Petit Formal Script', cursive;
	height: 500px;
	text-align: center;		
	padding: 40px;
	background: #f0e7d6;
	margin: 0;
}

#services h1{
	padding: 40px 0px;
}

#services .img-service{
	margin: 0 auto;
	text-align: center;		
	height: 240px;
	width: 240px;
}

#we{
	background-image: url(../images/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 600px;	
	position: relative;
	margin: 0;
	padding: 10px;
}

#we .opacity{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(1,1,1,0.7);
	z-index: 2;
}
#we .we-text{
	position: relative;
	width: 70%;
	margin: 10% auto;
	text-align: center;
	color: #fff;
	line-height: 1.7;
	font-size: 24px;
	z-index: 3;
}
#we .we-text h2{
	font-family: 'Petit Formal Script', cursive;
	font-size: 40px;
	padding: 10px;
}


#contact{
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 40px;
	position: relative;	
}
#contact .opacity{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(1,1,1,0.3);
}

#contact .contact-text{
	position: relative;
	width: 40%;
	margin: 0% auto;
	text-align: center;
	color: #fff;
	line-height: 1.7;
	font-size: 24px;
	z-index: 3;
}
#contact .contact-text h2{
	font-family: 'Petit Formal Script', cursive;
	margin: 0;
	font-size: 50px;
}
#contact .contact-text .form-control{
	margin-top: 10px;
	font-size: 20px;
	padding: 30px;
}
#contact .contact-text .btn-send{
	background: #fb8889;
	font-size: 20px;
	margin:  30px;
	padding: 10px 30px;
}
#contact .contact-text .btn-send:hover{
	background: red;
	color: #fff;
}



#quote{
	background: #fb8889;
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 40px;
	position: relative;	
}

#quote .opacity{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(1,1,1,0.0);
}

#quote .quote-text{
	position: relative;
	width: 40%;
	margin: 5% auto;
	text-align: center;
	color: #fff;
	line-height: 1.7;
	font-size: 24px;
	z-index: 3;
}
#quote .quote-text h2{
	font-family: 'Petit Formal Script', cursive;
	margin: 0;
	font-size: 50px;
	color: #000;
}
#quote .quote-text .contact-phone{
	background: #fb8889;
	font-size: 20px;
	margin:  30px;
	padding: 10px 40px;
	border: 2px solid #fff;
}
#quote .quote-text .contact-phone:hover{
	background: #fb8889;
	color: #fff;
}

footer{
	text-align: center;
	font-size: 20px;
}
footer h2{
	font-family: 'Petit Formal Script', cursive;
}
footer .redes a{
	font-size:40px;
	padding: 15px;
	color: #000;
}

footer .redes a:hover{
	color: #000;
}